* {
    margin: 0;
    padding: 0;
}

body {
    background: #F1EFE7;
}

body, ul, li, a, p, span, i::before {
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
/*--==================== HEADER ====================--*/

#search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
}

.nome-do-site {
    font-family: League Spartan;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.pesquisar {
    display: flex;
    gap: 50px;
}
.input-pesquisa {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: #D9D9D9;
    border-radius: 16px;
}

.input-pesquisa i::before {
    color: #404244;
    cursor: pointer;
    font-size: 23px;
    background: #D9D9D9;
}

.input-pesquisa input {
    background-color: #D9D9D9;
    border: none;
    color: #424242;
    font-size: 20px;
}

.bell {
    cursor: pointer;
}

.bell i::before{
    font-size: 50px;
}

.input-pesquisa input:focus-visible {
    outline: none;
}
/*--==================== HEADER ====================--*/

/*--==================== NAV ====================--*/
.box-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;
    z-index: 1000;
    border-top: 1px solid #ccc;
    flex-direction: row;
}

.home-ir-para {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__nav {
    display: block;
}

.box-nav i::before {
    font-size: 40px;
    color: black;
    
}
/*--==================== NAV ====================--*/

/*--==================== MAIN ====================--*/
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    align-items: center;
    font-family: League Spartan;
}

.grid-user {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}

.titolo-profile {
    padding: 10px;
    width: 500px;
    border-radius: 10px 0px 10px 10px;
    border: 1px solid #737373;
    background: #D9D9D9;
}

.titolo-profile h2 {
    background: none;
}

.photo-user {
    margin-right: 400px;
}

.lucas {
    margin-top: 20px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo p {
    font-weight: 800;
}


/*--==================== MAIN ====================--*/

/*--==================== Footer ====================--*/
footer {
    margin-top: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.Footer-copy {
    margin-bottom: 25px;
}

.social-footer {
    margin-bottom: 25px;
    display: flex;
}

.social-footer i::before {
    font-size: 40px;
    margin-left: 15px;
}
/*--==================== Footer ====================--*/

/*--==================== responsivo ====================--*/

@media (min-width: 1024px) {

    .box-nav {
    position: fixed;
    top: 270px;
    left: 30px;
    bottom: auto;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 80px;
    background: none;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    border-top: none;
  }

  .box-nav i::before {
    font-size: 40px;
  }

  .category__nav {
    display: none;
  }


}

/*--==================== responsivo ====================--*/